In [61]:
# import necessary libraries
import os
import glob
import dask.dataframe as dd
import datetime
from dateutil.relativedelta import relativedelta
  
path = os.getcwd()
new_path = os.path.join(path, "inp")

df = dd.read_csv(new_path + "/*.csv", sep=";", header=None)
df.columns = ['Variable symbol', 'Creation date', 'Due date', 'Amount', 'VAT', 'Payment type', 'Is payed']
df['Creation date'] = dd.to_datetime(df['Creation date'])
df = df.set_index(['Creation date'])

In [62]:
timestamp = datetime.datetime.now()
datetime_before_month = timestamp - relativedelta(months=1)
df1 = df.loc[datetime_before_month:timestamp]
df1.compute()

,Variable symbol,Due date,Amount,VAT,Payment type,Is payed
Creation date,,,,,,
2022-07-28 20:21:00,101168,2022-08-11 20:21:00,1544,10,backward_invocing,0
2022-07-28 23:10:00,100460,2022-08-11 23:10:00,7599,20,pay_by_link,0
2022-08-01 00:27:00,101967,2022-08-15 00:27:00,13109,20,backward_invocing,0
2022-08-01 04:29:00,102882,2022-08-15 04:29:00,13823,10,card,1
2022-08-01 06:22:00,100700,2022-08-15 06:22:00,12243,10,card,0
...,...,...,...,...,...,...
2022-08-28 02:17:00,101166,2022-09-11 02:17:00,7175,0,backward_invocing,0
2022-08-28 04:09:00,102703,2022-09-11 04:09:00,5740,20,backward_invocing,0
2022-08-28 07:34:00,101315,2022-09-11 07:34:00,2856,10,card,0
2022-08-28 13:28:00,102784,2022-09-11 13:28:00,12996,20,pay_by_link,0
2022-08-28 14:14:00,100130,2022-09-11 14:14:00,6268,20,pay_by_link,1

In [63]:
df2 = df1.loc[df1['VAT'] != 0]
df3 = df1.loc[df1['VAT'] == 0]

print('with Vat:')
print(df2['Amount'].sum().compute())
print('without VAT:')
print(df3['Amount'].sum().compute())

with Vat:
2013572
without VAT:
939546

In [64]:
date_today = pd.Timestamp(datetime.date.today())
df4 = df1.loc[date_today:timestamp]
df4 = df4.loc[df4['Is payed'] == 0]
df4.compute()

2022-08-28 00:00:00

,Variable symbol,Due date,Amount,VAT,Payment type,Is payed
Creation date,,,,,,
2022-08-28 00:39:00,101341,2022-09-11 00:39:00,2621,10,backward_invocing,0
2022-08-28 02:17:00,101166,2022-09-11 02:17:00,7175,0,backward_invocing,0
2022-08-28 04:09:00,102703,2022-09-11 04:09:00,5740,20,backward_invocing,0
2022-08-28 07:34:00,101315,2022-09-11 07:34:00,2856,10,card,0
2022-08-28 13:28:00,102784,2022-09-11 13:28:00,12996,20,pay_by_link,0